article{
  background-color: lightgrey;
  width: auto;
  padding: 5px;
  margin: 5px;
  border-radius: 20px;

}
p{
  background-color: lightgrey;
  width: auto;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
}
h2{
  text-align: center;
}
