article{
  background-color: lightgrey;
  width: auto;
  padding: 1px;
  margin: 5px;
  border-radius: 5px;
  /*margin:auto;*/
}
p{
  background-color: lightgrey;
  width: auto;
  padding: 1px;
  margin: 5px;
}
h2{
  text-align: center;
}
